__pycache__
venv
search/__pycache__
search/config.py
data/data.csv
.DS_Store
data_pipeline/data_pipeline_output/
env/
*.csv
*.iypnb_checkpoints/
*.ipynb
data/
*.pkl
data_pipeline/*.csv
*.pkl
env/
data_pipeline/create nomic viz.ipynb
data_pipeline/prev_embedding_store.pkl
data_pipeline/config.py
